<header>
    <h1>Microbiology Testing App</h1>
    <div>
        <a href="./user/signup"><button>Signup</button></a>
        <a href="./user/login"><button>Login</button></a>
        <a href="./user/logout"><button>Logout</button></a>
    </div>
    <br>
    <br>
    <a href="/new">Add a New Patient</a>
</header>
<script src="../public/app.js" defer></script>