<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head.ejs")%>
<body>
    <%-include("../partials/header.ejs")%>

    <div class="container">
        <nav class = navbar>
            <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/new">New Patient</a></li>
        </ul>
        </nav>
    </div>

    <main>
        <div class="newContainer">
            <form action="/" method="post">
                <fieldset>
                    <legend>Add a new Patient</legend>
                <div class="nameDiv"><label>Name: <input type="text" name="name"/></label></div>
                <div class="DOBDIV"><label>Date of Birth: <input type="date" name="dateOfBirth"/></label><br></div>
                <div class="testDiv">
                <label>Test: 
                    <select id="testMenu" name="test">
                        <option>Blood Culture</option>
                        <option>Respiratory Culture</option>
                        <option>Body Fluid Culture</option>
                        <option>Urine Culture</option>
                    </select>
                </label>
            </div>

            </fieldset>
            <div class="buttonDiv">
            <button>Add New Patient</button>
            </div>
            </form>
        </div>
    </main>
</body>
</html>