header{
    padding: 10px;
}

body{
    background-color: #FFEDD2;
    align-items: center;
}

h1, h2 {
    align-items: center;    
}

fieldset{
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 5vh;
    max-width: 60vh;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vh;
    position:absolute; 
    left:130vh; 
    top:30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    margin-right: 5vh;
}